<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NewTutorHere</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <!-- <script src="script.js"></script> -->
  <!-- <script>checkStatus()</script> -->
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script type="text/javascript" src="/scripts/mustache.js"></script>
 <script type="text/javascript" src="/scripts/modal.js"></script>
 <script type="text/javascript" src="/scripts/custom.js"></script>
 <script type="text/javascript" src="/scripts/function.js"></script>

</head>

<body>
  <div class="nav-container">
    <%if (typeof role!= 'undefined') { %>
      <% if (role == 'student') { %>
        <%- include("navbar_student.ejs", {notification_data: notification_data}); %>
      
      <% } else if (role == 'tutor') {%>
        <%- include("navbar_tutor.ejs"  , {notification_data: notification_data}); %>
        
      <% } else if (role == 'admin') {%>
        <%- include navbar_admin %>
      <% } %> 
    <% } %>
  </div>

  <div class="big-bg">
    <!-- Content -->
    <div class="dashboard">
      <!-- Search Bar -->
      <div class="search-box color-lightgreen center" id="search-form">
        <form class="form" action=/home id="search" method="GET">
          <span class="form-name">
            <p>Find your tutor</p>
          </span>
          <div class="form-group">
            <div class="form-input">
              <input type="text" id="subject-filter" name="subject" placeholder="Subject">
            </div>
          </div>
          <div class="form-group">
            <div class="half-box be-left">
              <div class="form-input drop-down">
                <select id="level-filter" name="level" style="width: 100%;">
                  <option value="" disabled selected>Educational Level</option>
                  <option value="0">Any Level</option>
                  <option value="1">Pre-School</option>
                  <option value="2">Elementary-School</option>
                  <option value="3">Middle-School</option>
                  <option value="4">High-School</option>
                  <option value="5">Bachelor</option>
                </select>
              </div>
            </div>
            <div class="half-box be-right">
              <div class="form-input">
                <input type="text" id="city-filter" name="city" placeholder="City">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="half-box be-left">
              <label class="control-label">Rating</label>
              <br>
              <div class="rating">
                <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Great"></label>
                <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Good"></label>
                <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Okay"></label>
                <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Bad"></label>
                <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Very Bad"></label>
              </div>
              </br>
            </div>
            <div class="half-box be-right">
              <label class="control-label">Minimum Price</label>
              <div class="form-input">
                <div class="form-group">
                  <div class="half-box be-left" style="width: 30%;">
                    <div class="form-input">
                      <input type="text" id="minprice-filter" name="minprice" placeholder="฿">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="submit-button search-button" onclick="search()">Search</button>
        </form>

      </div>

   
      <div class="tutors-box color-lightgreen center">
        <% var i = 0%>
        <%if (typeof searchPremium!= 'undefined') { %>
          <%for(result of searchPremium) {%>
    
          <div class="tt-box center" >
            <div class="pfphoto-box">
              <img class="nav-img-user center" src="../img/user.png" style="height: 6em;" />
              <div class="tutor-rating">
                  <script>
                    showStars('<%= result.rating %>');
                  </script>
              </div>
            </div>
            <div class="pfdetail-box be-right" >
                <form class="name-contract" action = "/home/profile" method = "GET">
                    <% if (result.is_premium == 'yes') {%>
                      <img class="nav-img-user" src="/img/crown.png" style="height: 1.2em;" />
                    <% }%>  
                    <p ><%= result.tutor_username %>&nbsp</p>
                    <img class="nav-img-user" src="../img/placeholder.png" style="height: 1.1em;" /><a> <%= result.city%></a><br />
                    <b>Subject</b><a><%= result.subject %></a><br />
                    <b>Educational Level</b><a><%= result.level %></a><br />
                    <b>Price</b><a>฿<%= result.price %> per hour</a><br />
                    <button class="editpf-button be-right" onclick="clicked('<%= result.tutor_username %>')" href="/home/tutors_contract"> View this Tutor</button>
                </form>                                      
            </div>
          </div>
          <% i+=1%>
          <% }} %>
        <%if (typeof searchResults!= 'undefined') { %>
          <%for(result of searchResults) {%>
            <% if (i < 10) {%>
          <div class="tt-box center" >
            <div class="pfphoto-box">
              <img class="nav-img-user center" src="../img/user.png" style="height: 6em;" />
              <div class="tutor-rating">
                  <script>
                    showStars('<%= result.rating %>');
                  </script>
              </div>
            </div>
            <div class="pfdetail-box be-right" >
                <form class="name-contract" action = "/home/profile" method = "GET">
                    <p ><%= result.tutor_username %>&nbsp</p>
                    <img class="nav-img-user" src="../img/placeholder.png" style="height: 1.1em;" /><a> <%= result.city%></a><br />
                    <b>Subject</b><a><%= result.subject %></a><br />
                    <b>Educational Level</b><a><%= result.level %></a><br />
                    <b>Price</b><a>฿<%= result.price %> per hour</a><br />
                    <button class="editpf-button be-right" onclick="clicked('<%= result.tutor_username %>')" href="/home/tutors_contract"> View this Tutor</button>
                </form>                                      
            </div>
          </div>
              <% i+=1 %>
            <% } %>
          <% }} %>

    
      </div>
    </div>
  </div>

  <!-- Animation library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
  <script> 

    function clicked(name) {
      document.cookie = "nextpf= " +name;
    }

    //Animation page
    function Animation(reverse = false) {
      const tl = new TimelineLite({
        ease: Expo.easeOut
      });
      const searchBox = document.querySelector('.search-box');
      const tutorsBox = document.querySelector('.tutors-box');
      const tutor = document.querySelectorAll('.tt-box');
      tl.fromTo([searchBox, tutorsBox], 1.5, {
        opacity: 0,
        y: 50
      }, {
        opacity: 1,
        y: 0
      }, '-=0.5')
      for (var i = 0; i < tutor.length; i++) {
        tl.fromTo(tutor[i], 0.6, {
          opacity: 0, 
          y: 50
        }, { 
          opacity: 1, 
          y: 0 
        }) 
      } 
      
    }
      Animation();

  </script>

</body>

</html>