<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NewTutorHere</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/scripts/function.js"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- <script src="script.js"></script> -->
    <!-- <script>checkStatus()</script> -->
</head>

<body>
    <%- include navbar %>

    <!-- edit-profile-form -->
    <div class="big-bg popup" id="edit-profile-form">
        <div class="form-bg color-lightgreen center" id="edit-profile-form-bg">
            <button class="close-button"><i class="fa fa-close" onclick="closeEditButton()"></i></button>
            <span class="form-name">
                <p>Edit your profile</p>
            </span>
            <div class="form-information-bg">
                <form class="form" action=/home/profile/edit_profile id="edit-profile" method="POST">
                    <div class="form-group">
                        <div class="half-box be-left">
                            <div class="form-input">
                                <input type="text" id="firstname-editpf" name="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="half-box be-right">
                            <div class="form-input">
                                <input type="text" id="lastname-editpf" name="lastname" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <input type="email" id="e-mail-editpf" name="email" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" id="phone-editpf" name="phone" placeholder="Telephone Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" id="location-editpf" name="location" placeholder="Location">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <div class="textwrapper"><textarea id="bio-editpf" name="bio" cols="2" rows="6"
                                    placeholder="  Bio"></textarea></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date Of Birth</label>
                        <div class="form-input drop-down">
                            <select id="bdate-editpf" name="bdate"></select>
                            <select id="bmonth-editpf" name="bmonth">
                                <option value="" disabled selected>Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select id="byear-editpf" name="byear"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Gender</label>
                        <div class="form-input drop-down">
                            <select id="gender-editpf" name="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Not Specified</option>
                            </select>
                        </div>
                    </div>
                    <button class="submit-button sign-up-button center">Save</button>
                </form>
            </div>
        </div>
    </div>

    <!-- addCourse-form -->
    <div class="big-bg popup" id="addCourse-form">
        <div class="form-bg color-lightgreen center" id="">
            <button class="close-button"><i class="fa fa-close" onclick="closeAddCourseButton()"></i></button>
            <span class="form-name">
                <p>Add New Course</p>
            </span><br>
            <div class="form-information-bg">
                <form class="form" action=/home/profile/add_course method="POST" id="contract-form">

                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" id="addCourse-subject" name="subject" placeholder="Subject">
                        </div>
                    </div>

                    <div class="form-group">
                        <select id="level-filter" name="level" style="width: 100%;">
                            <option value="" disabled selected>Educational Level</option>
                            <option value="0">Any Level</option>
                            <option value="1">Pre-School</option>
                            <option value="2">Elementary-School</option>
                            <option value="3">Middle-School</option>
                            <option value="4">High-School</option>
                            <option value="5">Bachelor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" id="addCourse-city" name="city" placeholder="City">
                        </div>

                    </div>
                    <div class="half-box be-left">
                        <label class="control-label">Rating</label>
                        <br>
                        <div class="rating">
                            <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Great">5
                                stars</label>
                            <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Good">4
                                stars</label>
                            <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Okay">3
                                stars</label>
                            <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Bad">2
                                stars</label>
                            <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Very Bad">1
                                star</label>
                        </div>
                        </br>
                    </div>

                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" id="addCourse-price" name="price" placeholder="Price">
                        </div>
                    </div>

                    <button class="submit-button sign-up-button center">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <!-- sent contract-form -->
    <div class="big-bg popup" id="contract-form-popup">
        <div class="form-bg color-lightgreen center" id="contract-form-popup-bg">
            <button class="close-button"><i class="fa fa-close" onclick="closeContractButton()"></i></button>
            <span class="form-name">
                <p>Sent Contract</p>
            </span><br>
            <div class="form-information-bg">
                <form class="form"  action=/home/profile method="POST" id="contract-form" >
                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" id="subject-contactf" name="subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Educational Level</label>
                        <div class="form-input drop-down">
                            <select id="level-filter" name="level" style="width: 100%;">
                                <option value="" disabled selected>Educational Level</option>
                                <option value="0">Any Level</option>
                                <option value="1">Pre-School</option>
                                <option value="2">Elementary-School</option>
                                <option value="3">Middle-School</option>
                                <option value="4">High-School</option>
                                <option value="5">Bachelor</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-box be-left">
                            <label class="control-label">Day</label>
                            <div class="form-input drop-down">
                                <select id="day-contactf" name="day" style="width: 100%;">
                                    <option value="" disabled selected>Day</option>
                                    <option value="0">Sunday</option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                </select>
                            </div>
                        </div>
                        <div class="half-box be-right">
                            <label class="control-label">Time</label>
                            <div class="form-input drop-down">
                                <select id="time-contactf" name="time" style="width: 100%;">
                                    <option value="" disabled selected>Time</option>
                                    <option value="0">Morning</option>
                                    <option value="1">Afternoon</option>
                                    <option value="2">After School</option>
                                    <option value="3">Evening</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <div class="textwrapper"><textarea id="message-contractf" name="bio" cols="2" rows="6"
                                    placeholder="  Message"></textarea></div>
                        </div>
                    </div>

                    <button class="submit-button sign-up-button center" onclick="">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- add comment-form -->
    <div class="big-bg popup" id="addComment-form-popup" >
        <div class="form-bg color-lightgreen center" id="addComment-form-popup-bg">
            <button class="close-button"><i class="fa fa-close" onclick="closeAddCommentButton()"></i></button>

            <span class="form-name">
                <p>Thank you!</p>
            </span><br>

            <span class="form-sub">
                <p>We hope you have enjoyed our course.</p>
                <p>For comments, compliments or suggestions,</p>
                <p>please write to us below.</p>
            </span><br>

            <!-- TODO add comment to db -->
            <div class="form-information-bg">
                <!-- <form class="form" action=/home/profile method="POST" id="addComment-form"> -->
                <form class="form" id="addComment-form" action=/home/profile/add_comment method="POST"></form>

                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Great"></label>
                        <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Good"></label>
                        <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Okay"></label>
                        <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Bad"></label>
                        <input type="radio" id="star1" name="rating" value="1"><label for="star1"
                            title="Very Bad"></label>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="form-input">
                            <div class="textwrapper"><textarea id="comment" name="comment" cols="2" rows="6"
                                placeholder=" Comment"></textarea></div>
                        </div>
                    </div>
                        <button class="submit-button sign-up-button center" onclick="addComment()">Submit</button>
                    
                </form>
            </div>
        </div>
    </div>



    <div class="big-bg">
        <!-- Content -->
        <div class="dashboard">
            <div class="profile-box color-lightgreen center" id="contract-form" >
                <div class="pf-box center">
                    <div class="pfphoto-box">
                        <img class="nav-img-user center" src="/img/user.png" style="height: 7em;" />
                    </div>
                    <div class="pfdetail-box be-right">
                        <span class="name-contract">
                            <button class="editpf-button be-right" id="editbut" onclick="showEditProfileForm()">Edit Profile</button>

                            <p id="profile-firstname"> <%= pf.firstname%> </p>
                            <p id="profile-lastname"><%=pf.lastname %></p>
                            <img class="nav-img-user" src="/img/crown.png" style="height: 1.2em;" />
                            <br />
                            <img class="nav-img-user" src="/img/placeholder.png" style="height: 1.1em;" />
                            <a id='profile-location'><%= pf.location %></a>
                            <br />
                            <b id='profile-email'>Email</b><a><%= pf.email %></a>
                            <br />
                            <b id='profile-phoneNumber'>Phone Number</b><a><%= pf.phone %></a>
                            <br />
                            <b id='profile-gender'>Gender</b><a><%= pf.gender %></a>
                            <br />
                            <b id='profile-bio'>Bio</b><a><%= pf.bio %></a>
                        </span>
                    </div>
                </div>
                <div class="ratesum-box">
                    <span class="name-contract">
                        <c>Courses</c>
                    </span>
                    <table id='courses-table'>
                        <tr>
                            <th></th>
                            <th>City</th>
                            <th>Rating</th>
                            <th>Price</th>
                        </tr>
                    
                        <%if (typeof searchCourse!= 'undefined') { %>
                            <%for(result of searchCourse) {%>
                        <form action="/home/delete_course" method="POST">
                            <tr>
                                <td><%=result.subject%></td>
                                <td><%=result.city%></td>
                                <td><%=result.rating%></td>
                                <td><%=result.price%></td>
                                <td><button class="deleteCourse-button" id='deleteCourseButton'><i class="fa fa-trash"
                                    onclick="clicked('<%= result.subject %>')"></i></button>
                                </td>
                            </tr>
                        </form>
                        <% }} %>
                        

                    </table>

                    <button class="addCourse-button be-right" id='addCourseButton' onclick="showAddCourse()">Add courses</button>

                </div>
                <div class="qual-box be-right">
                    <span class="name-contract">
                        <c>Availability</c>
                    </span>
                    <table>
                        <tr>
                            <th></th>
                            <th>SUN</th>
                            <th>MON</th>
                            <th>TUE</th>
                            <th>WED</th>
                            <th>THU</th>
                            <th>FRI</th>
                            <th>SAT</th>
                        </tr>
                    <% var day = ["Morning","Afternoon","After school","Evening"]%>
                    <%var tmp = false %>
                    <% searchAvailability.forEach(element => { %>
                    <% }) %>
                    <% for(var i=0; i<4; i++) {%>
                        <tr>
                        <% for(var j=0; j<8; j++) {%>
                            <%if (j == 0 ) { %>
                               <th><%= day[i]%></th> 
                               <% tmp = true%>
                                <% } %>
                        <% searchAvailability.forEach(element => { %>
                            <%if ( element.class_day == j-1 && element.class_time == i) { %>
                                <th> X </th> 
                                <% tmp = true %>
                                 <% } %>
                            <% }) %> 
                            <% if(!tmp){ %>
                                <th> - </th>
                            <% }%>
                            <%tmp = false %>
                        <% } %>
                        </tr>
                    <% } %>
                    </table>
                    <button class="editAva-button be-right" id='editAvailButton'>Edit availability</button>
                </div><br />
                
                <div class="review-box center">
                    <span class="name-contract">
                        <c>Reviews</c>
                    </span>

                    <div class="comment-box center">
                        <div class="pfphoto-box">
                            <img class="nav-img-user center" src="../img/user.png" style="height: 6em;" />
                            <div class="profile-rating">
                                <script>
                                    showStars('5');
                                </script>
                            </div>
                        </div>

                        <div class="qual-item">
                            <span class="comment">
                                <p>เยี่ยมยอด</p>
                            </span>
                        </div>

                    </div>

                    <div class="comment-box center">
                        <div class="pfphoto-box">
                            <img class="nav-img-user center" src="../img/user.png" style="height: 6em;" />
                            <div class="profile-rating">
                                <script>
                                    showStars('5');
                                </script>
                            </div>
                        </div>

                        <div class="qual-item">
                            <span class="comment">
                                <p>อาจารย์หล่อ</p>
                            </span>
                        </div>

                    </div>

                    <button class="addComment-button be-right" id='addComment' onclick="showAddComment()">Add comment</button>
                </div>
                <button class="sendcontract-button be-right" id='sentContractButton' onclick="showSentContract()">Send a contract</button>
            </div>
        </div>

        <script>

            var names = "firstn=";
            var tod;
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(names) == 0) {
                    tod = c.substring(names.length, c.length);
                }
            }
            
            // is viewer
            if (tod != document.getElementById("profile-firstname").innerText) {

                $("#editbut").css("display", "none");
                $("#addCourseButton").css("display", "none");
                $("#editCourseButton").css("display", "none");
                $("#deleteCourseButton").css("display", "none");
                $("#verifyDocButton").css("display", "none");
                $("#editAvailButton").css("display", "none");

                $("#sentContractButton").css("display", "block");

            }

            // is owner
            else {

               $("#editbut").css("display", "block");
               $("#addCourseButton").css("display", "block");
               $("#editCourseButton").css("display", "block");
               $("#deleteCourseButton").css("display", "block");
               $("#verifyDocButton").css("display", "block");
               $("#editAvailButton").css("display", "block");

               $("#sentContractButton").css("display", "none");
                
            }

            var bdate = document.getElementById("bdate-editpf");
            var days = "<option value=\"\" disabled selected>Day</option>";
            for (let i = 1; i <= 31; i++) {
                days += "<option value=\"" + i + "\">" + i + "</option>";
            }
            bdate.innerHTML = days;

            var byear = document.getElementById("byear-editpf");
            var years = "<option value=\"\" disabled selected>Year</option>";
            for (let i = 1960; i <= 2020; i++) {
                years += "<option value=\"" + i + "\">" + i + "</option>";
            }
            byear.innerHTML = years;

            function closeEditButton() {
                $("#edit-profile-form").css("display", "none");
            }
            function showEditProfileForm() {
                $("#edit-profile-form").css("display", "flex");

                //set initial value
                document.getElementById("firstname-editpf").value = '<%= pf.firstname%>' ;
                document.getElementById("lastname-editpf").value = '<%=pf.lastname %>';
                document.getElementById("e-mail-editpf").value = '<%= pf.email %>';
                document.getElementById("phone-editpf").value = '<%= pf.phone %>';
                document.getElementById("location-editpf").value = '<%= pf.location %>';
                document.getElementById("bio-editpf").value = '<%= pf.bio %>';
                document.getElementById("gender-editpf").value = '<%= pf.gender %>';

            }

            function closeContractButton() {
                $("#contract-form-popup").css("display", "none");
            }

            function showSentContract() {
                $("#contract-form-popup").css("display", "flex");
            }

            function closeAddCourseButton() {
                $("#addCourse-form").css("display", "none");
            }
            function showAddCourse() {
                $("#addCourse-form").css("display", "flex");
            }

            function closeAddCommentButton() {
            $("#addComment-form-popup").css("display", "none");
            }
            function showAddComment() {
            $("#addComment-form-popup").css("display", "flex");
            }


            // remove course
            function removeCourse(item) {
                console.log('remove course successful');
                item.closest('tr').remove()
            }

            function addComment() {

                console.log('add comment successful');
        
            }
           
            
            function clicked(subject) {
                document.cookie = "sub= " + subject;

            }
            function delete_cookie( name ) {
                document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
                document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
            }

        </script>

</body>

</html>