<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NewTutorHere</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
  <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <!-- <script src="script.js"></script> -->
  <!-- <script>checkStatus()</script> -->
</head>

<body>
  <%- include navbar %>

  <!-- edit-profile-form -->
  <div class="big-bg popup" id="edit-profile-form">
      <div class="form-bg color-lightgreen center" id="edit-profile-form-bg">
          <button class="close-button"><i class="fa fa-close" onclick="closeButton()"></i></button>
          <span class="form-name">
              <p>Edit your profile</p>
          </span>
          <div class="form-information-bg">
              <form class="form" action=/home/profile/edit_profile id="edit-profile" method="POST">
                  <div class="form-group">
                      <div class="half-box be-left">
                          <div class="form-input">
                              <input type="text" id="firstname-editpf" name="firstname" placeholder="First Name">
                          </div>
                      </div>
                      <div class="half-box be-right">
                          <div class="form-input">
                              <input type="text" id="lastname-editpf" name="lastname" placeholder="Last Name">
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-input">
                          <input type="email" id="e-mail-editpf" name="email" placeholder="E-mail">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-input">
                          <input type="text" id="phone-editpf" name="phone" placeholder="Telephone Number">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-input">
                          <input type="text" id="location-editpf" name="location" placeholder="Location">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-input">
                          <div class="textwrapper"><textarea id="bio-editpf" name="bio" cols="2" rows="6"
                                  placeholder="  Bio"></textarea></div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label">Date Of Birth</label>
                      <div class="form-input drop-down">
                          <select id="bdate-editpf" name="bdate"></select>
                          <select id="bmonth-editpf" name="bmonth">
                              <option value="" disabled selected>Month</option>
                              <option value="1">January</option>
                              <option value="2">February</option>
                              <option value="3">March</option>
                              <option value="4">April</option>
                              <option value="5">May</option>
                              <option value="6">June</option>
                              <option value="7">July</option>
                              <option value="8">August</option>
                              <option value="9">September</option>
                              <option value="10">October</option>
                              <option value="11">November</option>
                              <option value="12">December</option>
                          </select>
                          <select id="byear-editpf" name="byear"></select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label">Gender</label>
                      <div class="form-input drop-down">
                          <select id="gender-editpf" name="gender">
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="others">Not Specified</option>
                          </select>
                      </div>
                  </div>
                  <button class="submit-button sign-up-button center">Save</button>
              </form>
          </div>
      </div>
  </div>
  
  

  <div class="big-bg">
    <!-- Content -->
  <div class="dashboard">
      <div class="profile-box color-lightgreen center" id="contract-form">
          <div class="pf-box center">
              <div class="pfphoto-box">
                  <img class="nav-img-user center" src="/img/user.png" style="height: 7em;" />
              </div>
              <div class="pfdetail-box be-right">
                  <span class="name-contract">
                      <button class="editpf-button be-right" id="editbut" onclick="showEditProfileForm()">Edit Profile</button>
                      
                      <p id="name"> <%= pf.firstname%> </p>  <p><%=pf.lastname %></p>
                      <img class="nav-img-user" src="/img/placeholder.png" style="height: 1.1em;" /><a>   <%= pf.location %></a><br />
                      <b>Email</b><a><%= pf.email %></a><br />
                      <b>Phone Number</b><a><%= pf.phone %></a><br />
                      <b>Gender</b><a><%= pf.gender %></a><br />
                      <b>Bio</b><a><%= pf.bio %></a>
                  </span>
              </div>
          </div>
          <div class="ratesum-box">
              <span class="name-contract">
                  <c>Rate Summary</c>
                  <b>฿200 to ฿500 per hour</b>
              </span>
              <table>
                <tr>
                    <th></th>
                    <th>PRIMARY</th>
                    <th>KS3</th>
                    <th>GCSE</th>
                    <th>A-LEVEL</th>
                    <th>DEGREE</th>
                </tr>
                <tr>
                  <td>English</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Maths</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                
              </table>
              <button class="edit-button be-right" >Edit courses</button>
          </div>
          <div class="qual-box be-right">
              <span class="name-contract">
                  <c>Qualifications</c>
              </span>
              <div class="qual-item">
                  <span class="name-contract">
                    <a>XXXXXXXXXXXXXX</a><br />
                    <a>XXXXXXXXXXXXXX</a>
                  </span>
              </div>
              <div class="qual-item">
                <span class="name-contract">
                  <a>XXXXXXXXXXXXXX</a><br />
                  <a>XXXXXXXXXXXXXX</a>
                </span>
            </div>
              <button class="edit-button be-right" >Verify documents</button>
          </div><br />
          <div class="ratesum-box">
              <span class="name-contract">
                  <c>Availability</c>
              </span>
              <table>
                <tr>
                    <th></th>
                    <th>MO</th>
                    <th>TU</th>
                    <th>WE</th>
                    <th>TH</th>
                    <th>FR</th>
                    <th>SA</th>
                    <th>SU</th>
                </tr>
                <tr>
                  <td>Morning</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                    <td>Afternoon</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>After school</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Evening</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                
              </table>
              <button class="edit-button be-right" >Edit availability</button>
          </div>
          <div class="review-box center">
            <span class="name-contract">
                <c>Reviews</c>
            </span>
            
            <div class="qual-item">
                <span class="name-contract">
                  <a>XXXXXXXXXXXXXX</a><br />
                  <a>XXXXXXXXXXXXXX</a>
                </span>
            </div>
            
            
            <div class="qual-item">
              <span class="name-contract">
                <a>XXXXXXXXXXXXXX</a><br />
                <a>XXXXXXXXXXXXXX</a>
              </span>
          </div>
          <button class="sendcontract-button be-right" >Send a contract</button>
      </div>
    </div>
    </div>
    
    <script>

    var names = "firstn=";
    var tod ;
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
        c = c.substring(1,c.length);
        }
        if (c.indexOf(names) == 0) {
      tod=  c.substring(names.length, c.length);
    }
  }
   // alert(tod);
   //alert(document.getElementById("name").innerText);
    if(tod != document.getElementById("name").innerText){
        $("#editbut").css("display", "none");
       // alert("1");
    }
    else{
        $("#editbut").css("display", "flex");
        //alert("2");
    }

        var bdate = document.getElementById("bdate-editpf");
        var days = "<option value=\"\" disabled selected>Day</option>";
        for (let i = 1; i <= 31; i++) {
            days += "<option value=\"" + i + "\">" + i + "</option>";
        }
        bdate.innerHTML = days;

        var byear = document.getElementById("byear-editpf");
        var years = "<option value=\"\" disabled selected>Year</option>";
        for (let i = 1960; i <= 2020; i++) {
            years += "<option value=\"" + i + "\">" + i + "</option>";
        }
        byear.innerHTML = years;

        function closeButton() {
            $("#edit-profile-form").css("display", "none");
        }
        function showEditProfileForm() {
            $("#edit-profile-form").css("display", "flex");
        }

    </script>

</body>

</html>