<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NewTutorHere</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/function.js"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- <script src="script.js"></script> -->
    <!-- <script>checkStatus()</script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/scripts/mustache.js"></script>
    <script type="text/javascript" src="/scripts/modal.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>
    <script type="text/javascript" src="/scripts/function.js"></script>
    <%if (typeof context != 'undefined') { %>
        <script type="text/javascript">
          alert("Input incorrect");
            </script>
        <%}%>
</head>

<body>
    <div class="nav-container">
        <%if (typeof role!= 'undefined') { %>
            <% if (role == 'student') { %>
              <%- include("navbar_student.ejs", {notification_data: notification_data,resultLength:resultLength}); %>
            
            <% } else if (role == 'tutor') {%>
              <%- include("navbar_tutor.ejs"  , {notification_data: notification_data , resultLength:resultLength}); %>
              
            <% } else if (role == 'admin') {%>
              <%- include navbar_admin %>
            <% } %> 
          <% } %>
    </div>

    <!-- edit-profile-form -->
    <div class="big-bg popup" id="edit-profile-form">
        <div class="form-bg color-lightgreen center" id="edit-profile-form-bg">
            <button class="close-button be-right"><i class="fa fa-close" onclick="closeEditButton()"></i></button>
            <span class="form-name">
                <p>Edit your profile</p>
            </span>
            <div class="form-information-bg">
                <form class="form" action=/home/profile/edit_profile id="edit-profile" method="POST">
                    <div class="form-group">
                        <div class="half-box be-left">
                            <div class="form-input">
                                <input type="text" id="firstname-editpf" name="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="half-box be-right">
                            <div class="form-input">
                                <input type="text" id="lastname-editpf" name="lastname" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <input type="email" id="e-mail-editpf" name="email" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" id="phone-editpf" name="phone" placeholder="Telephone Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" id="location-editpf" name="location" placeholder="Location">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <div class="textwrapper"><textarea id="bio-editpf" name="bio" cols="2" rows="6"
                                    placeholder="  Bio"></textarea></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date Of Birth</label>
                        <div class="form-input drop-down">
                            <select id="bdate-editpf" name="bdate"></select>
                            <select id="bmonth-editpf" name="bmonth">
                                <option value="" disabled selected>Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select id="byear-editpf" name="byear"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Gender</label>
                        <div class="form-input drop-down">
                            <select id="gender-editpf" name="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Not Specified</option>
                            </select>
                        </div>
                    </div>
                    <button class="submit-button sign-up-button center">Save</button>
                </form>
            </div>
        </div>
    </div>

    <!-- sent contract-form -->
    <div class="big-bg popup" id="contract-form-popup">
        <div class="form-bg color-lightgreen center" id="contract-form-popup-bg">
            <button class="close-button be-right"><i class="fa fa-close" onclick="closeContractButton()"></i></button>
            <span class="form-name">
                <p>Sent Contract</p>
            </span><br>
            <div class="form-information-bg">
                <form class="form" action=/home/profile method="POST" id="contract-form">
                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" id="subject-contactf" name="subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Educational Level</label>
                        <div class="form-input drop-down">
                            <select id="level-filter" name="level" style="width: 100%;">
                                <option value="" disabled selected>Educational Level</option>
                                <option value="0">Any Level</option>
                                <option value="1">Pre-School</option>
                                <option value="2">Elementary-School</option>
                                <option value="3">Middle-School</option>
                                <option value="4">High-School</option>
                                <option value="5">Bachelor</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-box be-left">
                            <label class="control-label">Day</label>
                            <div class="form-input drop-down">
                                <select id="day-contactf" name="day" style="width: 100%;">
                                    <option value="" disabled selected>Day</option>
                                    <option value="0">Sunday</option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                </select>
                            </div>
                        </div>
                        <div class="half-box be-right">
                            <label class="control-label">Time</label>
                            <div class="form-input drop-down">
                                <select id="time-contactf" name="time" style="width: 100%;">
                                    <option value="" disabled selected>Time</option>
                                    <option value="0">Morning</option>
                                    <option value="1">Afternoon</option>
                                    <option value="2">After School</option>
                                    <option value="3">Evening</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <div class="textwrapper"><textarea id="message-contractf" name="bio" cols="2" rows="6"
                                    placeholder="  Message"></textarea></div>
                        </div>
                    </div>

                    <button class="submit-button sign-up-button center" onclick="">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- edit-availability-form -->
    <div class="big-bg popup" id="edit-avai-form-popup">
        <div class="form-bg color-lightgreen center" id="edit-avai-form-bg">
            <button class="close-button be-right"><i class="fa fa-close" onclick="closeEditAvaiButton()"></i></button>
            <br>
            <span class="form-name">
                <p>Edit Availability</p>
            </span>
            <br><br>
            <div class="form-information-bg">
                <form class="form" action="/home/profile/edit_availability/<%=pf.username%>" method="POST"
                    id="edit-availability-form">
                    <div class="form-group">
                        <div class="form-input">
                            <table>
                                <tr>
                                    <th></th>
                                    <th>SUN</th>
                                    <th>MON</th>
                                    <th>TUE</th>
                                    <th>WED</th>
                                    <th>THU</th>
                                    <th>FRI</th>
                                    <th>SAT</th>
                                </tr>
                                <% var day = ["Morning","Afternoon","After school","Evening"]%>
                                <% var tmp = false %>
                                <% var avail  %>
                                <% searchAvailability.forEach(element => { %>
                                <%  avail = [element.sunMor,element.monMor,element.tueMor,element.wedMor,element.thuMor,element.friMor,element.satMor,element.sunAf,element.monAf,element.tueAf,element.wedAf,element.thuAf,element.friAf,element.satAf,element.sunAfSc,element.monAfSc,element.tueAfSc,element.wedAfSc,element.thuAfSc,element.friAfSc,element.satAfSc,element.sunEv,element.monEv,element.tueEv,element.wedEv,element.thuEv,element.friEv,element.satEv]%>
                                <% }) %>
                                <% for(var i=0; i<4; i++) {%>
                                <tr>
                                    <th><%= day[i]%></th>
                                    <% for(var j=0; j<7; j++) {%>
                                    <% searchAvailability.forEach(element => { %>
                                    <%if ( avail[i*7+j] == "yes") { %>
                                    <th><input type="checkbox" id="check-avai" name="av" checked></th>
                                    <% tmp = true %>
                                    <% } %>
                                    <% }) %>
                                    <% if(!tmp){ %>

                                    <th><input type="checkbox" id="check-avai" name="av"></th>
                                    <% }%>
                                    <%tmp = false %>
                                    <% } %>
                                </tr>
                                <% } %>
                            </table>
                        </div>
                    </div>
                    <br>
                    <button class="submit-button sign-up-button center">Save</button>
                </form>
            </div>
        </div>
    </div>



    <div class="big-bg">
        <!-- Content -->
        <div class="dashboard">
            <div class="profile-box color-lightgreen center" id="contract-form">
                <div class="pf-box center">
                    <div class="pfphoto-box">
                        <img class="nav-img-user center" src="/img/user.png" style="height: 7em;" />
                    </div>
                    <div class="pfdetail-box be-right">
                        <span class="name-contract">
                            <button class="editpf-button be-right" id="editbut" onclick="showEditProfileForm()">Edit
                                Profile</button>
                            <p id="profile-firstname"> <%= pf.firstname%></p>
                            <p id="profile-lastname"><%=pf.lastname %>&nbsp;&nbsp;</p>
                            <% if (pf.is_premium == 'yes') {%>
                            <img class="nav-img-user" src="/img/crown.png" style="height: 1.2em;" />
                            <% }%>

                            <br />
                            <p>&nbsp;&nbsp;&nbsp;</p>
                            <img class="nav-img-user" src="/img/placeholder.png" style="height: 1.1em;" />
                            <a id='profile-location'><%= pf.location %></a>
                            <br />
                            <b id='profile-email'>Email</b><a><%= pf.email %></a>
                            <br />
                            <b id='profile-phoneNumber'>Phone Number</b><a><%= pf.phone %></a>
                            <br />
                            <b id='profile-gender'>Gender</b><a><%= pf.gender %></a>
                            <br />
                            <b id='profile-bio'>Bio</b><a><%= pf.bio %></a>
                        </span>
                    </div>
                </div>

                <div class="studentqual-box center">
                    <span class="name-contract">
                        <c>Availability</c>
                    </span>
                    <table>
                        <tr>
                            <th></th>
                            <th>SUN</th>
                            <th>MON</th>
                            <th>TUE</th>
                            <th>WED</th>
                            <th>THU</th>
                            <th>FRI</th>
                            <th>SAT</th>
                        </tr>
                        <% var day = ["Morning","Afternoon","After school","Evening"]%>
                        <% var tmp = false %>
                        <% var avail  %>
                        <% searchAvailability.forEach(element => { %>
                        <%  avail = [element.sunMor,element.monMor,element.tueMor,element.wedMor,element.thuMor,element.friMor,element.satMor,element.sunAf,element.monAf,element.tueAf,element.wedAf,element.thuAf,element.friAf,element.satAf,element.sunAfSc,element.monAfSc,element.tueAfSc,element.wedAfSc,element.thuAfSc,element.friAfSc,element.satAfSc,element.sunEv,element.monEv,element.tueEv,element.wedEv,element.thuEv,element.friEv,element.satEv]%>
                        <% }) %>
                        <% for(var i=0; i<4; i++) {%>
                        <tr>
                            <th><%= day[i]%></th>
                            <% for(var j=0; j<7; j++) {%>
                            <% searchAvailability.forEach(element => { %>
                            <%if ( avail[i*7+j] == "yes") { %>
                            <th><img class="nav-img-user center" src="/img/notavailable.png" style="height: 1.5em;">
                            </th>
                            <% tmp = true %>
                            <% } %>
                            <% }) %>
                            <% if(!tmp){ %>
                            <th><img class="nav-img-user center" src="/img/available.png" style="height: 1.5em;"></th>
                            <% }%>
                            <%tmp = false %>
                            <% } %>
                        </tr>
                        <% } %>
                    </table>
                    <button class="editAva-button be-right" id='editAvailButton' onclick="showEditAvai()">Edit
                        availability</button>
                </div><br />

                <div class="review-box center">
                    <span class="name-contract">
                        <c>Reviews</c>
                    </span>
                    <%if (typeof comment!= 'undefined') { %>
                    <%for( each of comment) {%>
                        <form action="/home/delete_comment" method="POST">
                            <div class="comment-box center <%= each.commentator %>">
                                <div class="pfphoto-box">
                                    <img class="nav-img-user center" src="/img/user.png" style="height: 6em;" />
                                    <div class="profile-rating">
                                        <script>
                                            showStars('<%= each.rating %>');
                                        </script>
                                    </div>
                                </div>

                                <div class="qual-item <%= each.commentator %>Comment">
                                    <span class="comment">
                                        <p><%=each.comment%></p>
                                    </span>
                                </div>

                                <button class="deleteComment-button <%= each.commentator %>DeleteButton" id="deleteCommentButton"><i class="fa fa-trash"
                                        onclick="deleteComment('<%= each._id %>')"></i></button>

                            </div>
                        </form>
                    <% }} %>
                </div>
                <button class="sendcontract-button" id='sentContractButton' onclick="showSentContract()">Send a
                    contract</button>
                <br><br>
            </div>
        </div>
    </div>

    <!-- Animation library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
        integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>



    <script>
        var names = "firstn=";
        var usernamex = "auth=";
        var tod;
        var username;
        // get first name
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1, c.length);
            }
            if (c.indexOf(names) == 0) {
                tod = c.substring(names.length, c.length);
            }
        }

        // get username
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1, c.length);
            }
            if (c.indexOf(usernamex) == 0) {
                username = c.substring(usernamex.length, c.length);
            }
        }

        // is viewer
        if (tod != document.getElementById("profile-firstname").innerText) {

            $("#editbut").css("display", "none");
            $("#addCourseButton").css("display", "none");
            $("#verifyDocButton").css("display", "none");
            $("#editAvailButton").css("display", "none");
            var cols = document.getElementsByClassName("deleteCourse-button");
            for (i = 0; i < cols.length; i++) {
                // cols[i].style.backgroundColor = color;
                cols[i].style.visibility = "hidden";
            }
            var comment = document.getElementsByClassName("deleteComment-button");
            for (i = 0; i < comment.length; i++) {
                // cols[i].style.backgroundColor = color;
                comment[i].style.visibility = "hidden";
            }
            $("#sentContractButton").css("display", "block");

        }

        // is owner
        else {

            $("#editbut").css("display", "block");
            $("#addCourseButton").css("display", "block");
            $(".deleteCourse-button").css("display", "block");
            $("#verifyDocButton").css("display", "block");
            $("#editAvailButton").css("display", "block");

            $("#sentContractButton").css("display", "none");

        }

        //is owner of this comment
        if (document.getElementsByClassName(username) != null) {
            console.log("display owner comment bin");
            var comment = document.getElementById(username.concat("Comment"));
            var deleteButton = document.getElementById(username.concat("DeleteButton"));
            //comment.css("margin-right", "0.5vw")
            //deleteButton.css("display", "flex")
            $((".".concat(username,"Comment"))).css("margin-right", "0.5vw")
            $((".".concat(username,"DeleteButton"))).css("display", "flex")
        }

        var bdate = document.getElementById("bdate-editpf");
        var days = "<option value=\"\" disabled selected>Day</option>";
        for (let i = 1; i <= 31; i++) {
            days += "<option value=\"" + i + "\">" + i + "</option>";
        }
        bdate.innerHTML = days;

        var byear = document.getElementById("byear-editpf");
        var years = "<option value=\"\" disabled selected>Year</option>";
        for (let i = 1960; i <= 2020; i++) {
            years += "<option value=\"" + i + "\">" + i + "</option>";
        }
        byear.innerHTML = years;

        function closeEditButton() {
            EditProfileModalAnimationReversed();
        }

        function showEditProfileForm() {
            $("#edit-profile-form").css("display", "flex");
            EditProfileModalAnimation();

            //set initial value
            document.getElementById("firstname-editpf").value = '<%= pf.firstname%>';
            document.getElementById("lastname-editpf").value = '<%=pf.lastname %>';
            document.getElementById("e-mail-editpf").value = '<%= pf.email %>';
            document.getElementById("phone-editpf").value = '<%= pf.phone %>';
            document.getElementById("location-editpf").value = '<%= pf.location %>';
            document.getElementById("bio-editpf").value = '<%= pf.bio %>';
            document.getElementById("gender-editpf").value = '<%= pf.gender %>';

        }

        function closeContractButton() {
            SentContractModalAnimationReversed();
        }

        function showSentContract() {
            $("#contract-form-popup").css("display", "flex");
            SentContractModalAnimation();
        }

        function closeAddCourseButton() {
            AddCourseModalAnimationReversed();
        }

        function showAddCourse() {
            $("#addCourse-form").css("display", "flex");
            AddCourseModalAnimation();
        }

        function closeEditAvaiButton() {
            $("#edit-avai-form-popup").css("display", "none");
        }

        function showEditAvai() {
            $("#edit-avai-form-popup").css("display", "flex");
        }


        // delete course
        function deleteCourse(subject) {
            document.cookie = "sub= " + subject;

        }
        // delete comment
        function deleteComment(subject) {
               document.cookie = "sub_comment= " + subject;

        }

        function delete_cookie(name) {
            document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
            document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
        }

        //Animation page
        function Animation(reverse = false) {
            const tl = new TimelineLite({
                ease: Expo.easeOut
            });
            const profileBox = document.querySelector('.profile-box');

            tl.fromTo(profileBox, 1.5, {
                opacity: 0,
                y: -40
            }, {
                opacity: 1,
                y: 0
            })
        }
        Animation();

        //Animation edit profile modal
        function EditProfileModalAnimationReversed() {
            EditProfileModalAnimation(true);
        }

        function EditProfileModalAnimation(reversed = false) {
            const modal = document.getElementById('edit-profile-form');
            const modal_body = document.getElementById('edit-profile-form-bg');
            const tl = new TimelineLite({
                easeIn: Power3.easeOut
            });
            tl.fromTo(modal, 0.20, {
                opacity: 0
            }, {
                opacity: 1
            }, 0)
            tl.fromTo(modal_body, 0.20, {
                scale: 0,
                opacity: 0
            }, {
                scale: 1,
                opacity: 1
            }, 0);
            if (reversed) {
                console.log("close edit profle modal");
                tl.reverse(0.3);
                setTimeout(function () {
                    $("#edit-profile-form").css("display", "none");
                }, 500);
            }
        }

        //Animation add course modal
        function AddCourseModalAnimationReversed() {
            AddCourseModalAnimation(true);
        }

        function AddCourseModalAnimation(reversed = false) {
            const modal = document.getElementById('addCourse-form');
            const modal_body = document.getElementById('addCourse-form-bg');
            const tl2 = new TimelineLite({
                easeIn: Power3.easeOut
            });
            tl2.fromTo(modal, 0.20, {
                opacity: 0
            }, {
                opacity: 1
            }, 0)
            tl2.fromTo(modal_body, 0.20, {
                scale: 0,
                opacity: 0
            }, {
                scale: 1,
                opacity: 1
            }, 0);
            if (reversed) {
                tl2.reverse(0.3);
                setTimeout(function () {
                    $("#addCourse-form").css("display", "none");
                }, 500);
            }
        }

        //Animation sent contract modal
        function SentContractModalAnimationReversed() {
            SentContractModalAnimation(true);
        }
        $("form").submit(function () {

            var this_master = $(this);

            this_master.find('input[type="checkbox"]').each(function () {
                var checkbox_this = $(this);


                if (checkbox_this.is(":checked") == true) {
                    checkbox_this.attr('value', '1');
                } else {
                    checkbox_this.prop('checked', true);
                    //DONT' ITS JUST CHECK THE CHECKBOX TO SUBMIT FORM DATA    
                    checkbox_this.attr('value', '0');
                }
            })
            closeEditAvaiButton()
        })
        function SentContractModalAnimation(reversed = false) {
            const modal = document.getElementById('contract-form-popup');
            const modal_body = document.getElementById('contract-form-popup-bg');
            const tl2 = new TimelineLite({
                easeIn: Power3.easeOut
            });
            tl2.fromTo(modal, 0.20, {
                opacity: 0
            }, {
                opacity: 1
            }, 0)
            tl2.fromTo(modal_body, 0.20, {
                scale: 0,
                opacity: 0
            }, {
                scale: 1,
                opacity: 1
            }, 0);
            if (reversed) {
                tl2.reverse(0.3);
                setTimeout(function () {
                    $("#contract-form-popup").css("display", "none");
                }, 500);
            }
        }
    </script>

</body>

</html>