<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NewTutorHere</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
  <!-- <link rel="shortcut icon" href="img/dog.ico" /> -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <!-- <script src="script.js"></script> -->
  <!-- <script>checkStatus()</script> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/scripts/mustache.js"></script>
  <script type="text/javascript" src="/scripts/modal.js"></script>
  <script type="text/javascript" src="/scripts/custom.js"></script>
  <script type="text/javascript" src="/scripts/function.js"></script>
</head>

<body>
  <%if (typeof role!= 'undefined') { %>
    <% if (role == 'student') { %>
      <%- include navbar_student %>
    <% } else if (role == 'tutor') {%>
      <%- include navbar_tutor %>
    <% } else if (role == 'admin') {%>
      <%- include navbar_admin %>
    <% } %> 
  <% } %>
<script>var student_username;</script>
  <!-- view contract -->
  <div class="big-bg popup" id="viewContract-popup" >
    <div class="form-bg color-lightgreen center" id="viewContract-popup-bg">
      <button class="close-button be-right"><i class="fa fa-close" onclick="closeContractPopupButton()"></i></button>
      <br><br>
      <span class="form-name-thankyou">
        <p>Contract</p>
      </span><br>
      <div class="form-information-bg">
        <form class="form" id="contract" >
          <b>Subject: </b> <element id="subject"></element> <br />
          <b>Educational Level: </b><element id="eduLevel"></element><br />
          <b>Day: </b><element id="classDay"></element><br />
          <b>Time: </b><element id="classTime"></element><br />
          <b>Message: </b><element id="message"></element>
          <br /><br /><br>
          <div class="rating-box" style="width: 69%;">
            <a class="view2-button search-button be-right" href="reject_contract/">Reject</a>
            <a class="view2-button search-button be-right" href="accept_contract/">Accept</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- add comment-form -->
    <div class="big-bg addComment-form-popup" id="addComment-form-popup" >
        <div class="form-bg color-lightgreen center" id="addComment-form-popup-bg">
            <button class="close-button be-right"><i class="fa fa-close" onclick="closeAddCommentButton()"></i></button>
            <br>
            <span class="form-name-thankyou">
                <p>Thank you!</p>
            </span><br>

            <span class="form-sub">
                <p align="center">We hope you have enjoyed our course.</p>
                <p align="center">For comments, compliments or suggestions,</p>
                <p align="center">please write to us below.</p>
            </span><br><br>

            <!-- TODO add comment to db -->
            <div class="form-information-bg">
                <!-- <form class="form" action=/home/profile method="POST" id="addComment-form"> -->
                <form class="form" id="addCommentForm" action="" method="POST">
                    <div class="rating-box">
                      <div class="rating">
                          <input type="radio" id="star-5" name="ratingcomment" value="5"><label for="star-5" title="Great">5 stars</label>
                          <input type="radio" id="star-4" name="ratingcomment" value="4"><label for="star-4" title="Good">4 stars</label>
                          <input type="radio" id="star-3" name="ratingcomment" value="3"><label for="star-3" title="Okay">3 stars</label>
                          <input type="radio" id="star-2" name="ratingcomment" value="2"><label for="star-2" title="Bad">2 stars</label>
                          <input type="radio" id="star-1" name="ratingcomment" value="1"><label for="star-1" title="Very Bad">1 star</label>
                      </div>
                    </div>
                    <br><br>
                    
                    <div class="form-group">
                        <div class="form-input">
                            <div class="textwrapper"><textarea id="comment" name="comment" cols="2" rows="6"
                                placeholder=" Comment"></textarea></div><br>
                        <button class="submit-button sign-up-button center">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

  <div class="big-bg">
    <!-- Content -->
    <div class="contractlog-box be-left">
      <span class="name-stucontract">
        <p>Contract Log</p>
      </span>

      <% accepted.forEach(element => { %>
      <div class="conlog-item">
        <span class="name-stucontract">
          <a><%= element.student_username %> </a>
        </span>
        <br />
        <!-- <button class="addComment-button be-right" id='addComment' onclick="showAddComment()">Add comment</button> -->
        <!-- <a class="view2-button search-button be-right" href="terminate_contract/<%= element._id %>" >Terminate</a> -->
        <button class="view2-button search-button be-right" id='addComment' onclick="showAddComment('/home/terminate_tutor_contract/<%= element._id %>')">Terminate</button>
        <a class="view2-button search-button be-right" href="view_contract/<%= element.student_username %>">View</a>
      </div>
      <% }) %>

    </div>


    <div class="contract-box color-lightgreen be-right" id="contract-form">
      <!-- Begin of contract list -->

      <% let idx = 0 %> 
      <% requested.forEach(element => { %>
        
      <form class="form" id="contract">
        <img class="nav-img-user" src="../img/user.png" style="height: 5em;" />
        <div class="c-box be-right">
          <div class="blockcontract">
            <span class="name-contract">
              <p><%= element.student_username %> </p>
              <a>sends you a contract.</a>
            </span>
            <br />
            <a class="view2-button search-button be-right" onclick="showContractPopup('<%- idx %>')">View a contract</a>
            <a class="view2-button search-button be-right" href="view_contract/<%= element.student_username%>">View profile</a>
          </div>
        </div>

      </form>
      <% idx++; %> 
      <% }) %>

    </div>


  </div>

  <!-- Animation library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>

  <script>

    var r = <%- JSON.stringify(requested) %>;
    console.log("tmp")

    // generateContract();
    function closeContractPopupButton() {
      ViewContractModalAnimationReversed();
    
    }
    function showContractPopup(tmp) {
      $("#viewContract-popup").css("display", "flex");
      ViewContractModalAnimation();

      document.getElementById("subject").innerHTML = r[tmp].course_name;
      document.getElementById("eduLevel").innerHTML = showEdu(r[tmp].educational_level);
      document.getElementById("classDay").innerHTML = showDay(r[tmp].class_day);
      document.getElementById("classTime").innerHTML = showTime(r[tmp].class_time);
      document.getElementById("message").innerHTML = r[tmp].message;
      // document.getElementById("id").innerHTML = r[tmp]._id;
      document.cookie = "_id= " + r[tmp]._id;
    }

    //Animation page
    function Animation(reverse = false) {
      const tl = new TimelineLite({
        ease: Expo.easeOut
      });
      const contractBox = document.querySelector('.contract-box');
      const contractlogBox = document.querySelector('.contractlog-box');

      tl.fromTo([contractBox, contractlogBox], 1.5, {
        opacity: 0,
        y: -40
      }, {
        opacity: 1,
        y: 0
      })
    }
    Animation();

    //Animation view contract modal
    function ViewContractModalAnimationReversed() {
      ViewContractModalAnimation(true);
    }

    function ViewContractModalAnimation(reversed = false) {
      const modal = document.getElementById('viewContract-popup');
      const modal_body = document.getElementById('viewContract-popup-bg');
      const tl2 = new TimelineLite({ easeIn: Power3.easeOut });
      tl2.fromTo(modal, 0.20, { 
        opacity: 0 
      }, { 
        opacity: 1 
      }, 0)
      tl2.fromTo(modal_body, 0.20, {
        scale: 0,
        opacity: 0
      }, {
        scale: 1,
        opacity: 1
      }, 0);
      if (reversed) {
        tl2.reverse(0.3);
        setTimeout(function () {
          $("#viewContract-popup").css("display", "none");
        }, 500);
      }
    }

    //Animation add comment modal
    function AddCommentModalAnimationReversed() {
      AddCommentModalAnimation(true);
    }

    function AddCommentModalAnimation(reversed = false) {
      const modal = document.getElementById('addComment-form-popup');
      const modal_body = document.getElementById('addComment-form-popup-bg');
      const tl2 = new TimelineLite({ easeIn: Power3.easeOut });
      tl2.fromTo(modal, 0.20, { opacity: 0 }, { opacity: 1 }, 0)
      tl2.fromTo(modal_body, 0.20, {
        scale: 0,
        opacity: 0
      }, {
        scale: 1,
        opacity: 1
      }, 0);
      if (reversed) {
        tl2.reverse(0.3);
        setTimeout(function () {
          $("#addComment-form-popup").css("display", "none");
        }, 500);
      }
    }

    function closeAddCommentButton() {
      AddCommentModalAnimationReversed();
    }

    function showAddComment(actionURL) {
      $("#addComment-form-popup").css("display", "flex");
      document.getElementById("addCommentForm").action = actionURL;
      AddCommentModalAnimation();
    }

  </script>

</body>

</html>